.linkToItems {
  text-align: center;
  height: 40px;
  padding-top: 20px;
  margin-top: 15px;
  background-color: #4192de;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 100%;
}