.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  flex: 30%;
  background-color: rgb(30, 30, 30);
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
}