.todo_items {
  text-align: center;
}

.header {
  flex: 30%;
  background-color: rgb(30, 30, 30);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .inputContainer {
    display: flex;
    flex-direction: column;

    button {
      height: 88px;
      border: none;
      cursor: pointer;
      background-color: #4192de;
      border-radius: 5px;
      margin-top: 15px;
    }

    //input:invalid {
    //  border: 2px dashed red;
    //}
    //
    //input:invalid:required {
    //  background-image: linear-gradient(to right, pink, lightgreen);
    //}
    //
    //input:valid {
    //  border: 2px solid black;
    //}

    input {
      width: 200px;
      height: 40px;
      padding-left: 10px;
      font-size: 17px;
      border-radius: 5px;
      border: 1px solid grey;
      margin-top: 15px;
    }
  }
}